body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornflowerblue;
    color:rgb(23, 56, 88);
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
}
h1 {
    color:black;
    border-bottom: 3px solid blue;
    padding-bottom: 10px;
}
p {
    font-size: 18px;
    line-height: 1.6;
}